In [1]:
import pandas as pd
# Create a reference to the CSV and import it into a Pandas DataFrame
csv_path = "Resources_EclipseBugs.csv"
eclipse_df = pd.read_csv(csv_path)

In [4]:
eclipse_df.columns

Index(['Bug\nID', 'Product', 'Component', 'Assignee', 'Status', 'Resolution',
       'Summary', 'Changed', 'Assignee\nReal\nName', 'Classification',
       'Hardware', 'Number of\nComments', 'Opened', 'OS', 'Priority',
       'Reporter', 'Reporter\nReal\nName', 'Severity', 'Target\nMilestone',
       'Version', 'Votes'],
      dtype='object')

In [22]:
# Finding the average number of comments per bug
eclipse_df = eclipse_df.rename(columns ={"Number of\nComments": "Number_of_Comments","Bug\nID": "Bug_ID", 
                                         "Assignee\nReal\nName": "Assignee_Real_Name", "Reporter\nReal\nName": "Reporter_Real_Name",
                                        "Target\nMilestone": "Target_Milestone"})
eclipse_df.head()

average_comments = eclipse_df["Number_of_Comments"].mean()
average_comments

8.75

In [69]:
# Grouping the DataFrame by "Assignee"
assignee_group = eclipse_df.groupby("Assignee")

# Count how many of each component Assignees worked on and create DataFrame
assignee_work = pd.DataFrame(assignee_group["Component"].value_counts())
assignee_work.head()

                                Component
Assignee       Component
Aaron_Ferguson UI                      10
Adam_Schlegel  UI                       7
ChrisAustin    User Assistance          3
Claude_Knaus   UI                      31
               Text                     7

In [70]:
# Rename the "Component" column to "Component Bug Count"
assignee_work = assignee_work.rename(columns = {"Component": "Component_Bug_Count"})
assignee_work.head()

                                Component_Bug_Count
Assignee       Component
Aaron_Ferguson UI                                10
Adam_Schlegel  UI                                 7
ChrisAustin    User Assistance                    3
Claude_Knaus   UI                                31
               Text                               7

In [71]:
# Find the percentage of bugs overall fixed by each Assignee
total_bugs = assignee_work["Component_Bug_Count"].sum()
#bugs_per_user = assignee_work["Assignee"].value_counts()

#total_bugs
#assignee_work["percentage"] = (assignee_work["Component_Bug_Count"] / total_bugs)*100

user_bug_percent = pd.DataFrame((assignee_work["Component_Bug_Count"] / total_bugs)*100)
user_bug_percent.head()
#bugs_per_user

                                Component_Bug_Count
Assignee       Component
Aaron_Ferguson UI                              0.10
Adam_Schlegel  UI                              0.07
ChrisAustin    User Assistance                 0.03
Claude_Knaus   UI                              0.31
               Text                            0.07

In [74]:
# Merge the "Percent of Total Bugs Assigned" into the DataFrame
newassignee_work = assignee_work.merge(user_bug_percent, on="Assignee")

# Remove the extra columns
#assignee_work = assignee_work[;, [
#    "Assignee", "Percent_of_Total_Bugs", "Component", "Component_Bug_Count"]]
newassignee_work.head()

                Component_Bug_Count_x  Component_Bug_Count_y
Assignee
Aaron_Ferguson                     10                   0.10
Adam_Schlegel                       7                   0.07
ChrisAustin                         3                   0.03
Claude_Knaus                       31                   0.31
Claude_Knaus                       31                   0.07