In [80]:
import pandas as pd

In [81]:
file = "Resources_ted_talks.csv"

In [82]:
ted_df = pd.read_csv(file)

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [83]:
minimum_view = ted_df["views"].min()

maximum_view = ted_df["views"].max()

In [77]:
view_slice = int(round((maximum_view - minimum_view) / 10))
minimum_view

50443

In [78]:
maximum_view

47227110

In [79]:
view_slice

4717667

In [90]:
view_bins = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
groups_view = [0]
cont = 0
for x in range(minimum_view, maximum_view):
    cont += 1    
    if cont == view_slice:
        #print ("paso")
        groups_view.append(x)
        cont = 0

groups_view.append(maximum_view)

In [91]:
ted_df["Test Score Summary"] = pd.cut(ted_df["views"], groups_view, labels=view_bins)
ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views,Test Score Summary
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,9
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,0
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,0
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,0
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,2

In [92]:
ted_df = ted_df.groupby("Test Score Summary")
ted_df.max()

,comments,description,duration,event,languages,main_speaker,name,title,views
Test Score Summary,,,,,,,,,
0,6404.0,“People are so afraid of variety that they try...,5256.0,World Science Festival,69.0,iO Tillett Wright,iO Tillett Wright: Fifty shades of gay,“Am I dying?” The honest answer.,4754217.0
1,1627.0,You're not at your best when you're stressed. ...,2450.0,TEDxUW,72.0,Ze Frank,Ze Frank: Nerdcore comedy,Why you will fail to have a great career,9315931.0
2,1604.0,You've never seen data presented like this. Wi...,1346.0,TEDSalon NY2013,66.0,Sarah Kay,Sarah Kay: If I should have a daughter ...,Your elusive creative genius,13926113.0
3,1329.0,What keeps us happy and healthy as we go throu...,1276.0,TEDxBloomington,47.0,Tim Urban,Tim Urban: Inside the mind of a master procras...,What makes a good life? Lessons from the longe...,18830983.0
4,2877.0,"Tony Robbins discusses the ""invisible forces"" ...",1305.0,TEDxMidAtlantic,49.0,Tony Robbins,Tony Robbins: Why we do what we do,Why we do what we do,22270883.0
5,NaN,None,NaN,None,NaN,None,None,None,NaN
6,1927.0,Brené Brown studies human connection -- our ab...,1219.0,TEDxHouston,52.0,Brené Brown,Brené Brown: The power of vulnerability,The power of vulnerability,31168150.0
7,1930.0,Simon Sinek has a simple but powerful model fo...,1084.0,TEDxPuget Sound,45.0,Simon Sinek,Simon Sinek: How great leaders inspire action,How great leaders inspire action,34309432.0
8,NaN,None,NaN,None,NaN,None,None,None,NaN
9,4553.0,Sir Ken Robinson makes an entertaining and pro...,1262.0,TEDGlobal 2012,60.0,Ken Robinson,Ken Robinson: Do schools kill creativity?,Your body language may shape who you are,47227110.0