In [1]:
import pandas as pd

In [2]:
file_name = "Resources_books.csv"

In [3]:
file_df = pd.read_csv(file_name, encoding="ISO-8859-1")

In [4]:
filtered_df = file_df[["isbn", "original_publication_year", "original_title", "authors", "ratings_1", 
                       "ratings_2", "ratings_3", "ratings_4", "ratings_5"]]

In [5]:
renamed_df = filtered_df.rename(columns={"isbn": "ISBN", "original_publication_year": "Publication Year", 
                                         "original_title": "Original Title", "authors": "Authors", 
                                         "ratings_1": "One Star Reviews", "ratings_2": "Two Star Reviews", 
                                         "ratings_3": "Three Star Reviews", "ratings_4": "Four Star Reviews",
                                         "ratings_5": "Five Star Reviews"})

In [6]:
authors_count = renamed_df["Authors"].value_counts()
authors_count

Stephen King                                                              60
Nora Roberts                                                              59
Dean Koontz                                                               47
Terry Pratchett                                                           42
Agatha Christie                                                           39
Meg Cabot                                                                 37
James Patterson                                                           36
David Baldacci                                                            34
J.D. Robb                                                                 33
John Grisham                                                              33
Janet Evanovich                                                           30
Laurell K. Hamilton                                                       30
Michael Connelly                                                          29
John Sandford                                                             28
Kristen Ashley                                                            27
Tamora Pierce                                                             26
Sherrilyn Kenyon                                                          25
Harlan Coben                                                              25
Patricia Cornwell                                                         25
Jim Butcher                                                               24
Sue Grafton                                                               24
Jodi Picoult                                                              23
Anne Rice                                                                 23
Rick Riordan                                                              22
Abbi Glines                                                               22
Charlaine Harris                                                          22
Brandon Sanderson                                                         21
Richelle Mead                                                             21
Orson Scott Card                                                          21
Lee Child                                                                 21
                                                                          ..
Katie MacAlister                                                           1
John C. Maxwell                                                            1
Natalie Babbitt                                                            1
Neil Gaiman, Jill Thompson, Vince Locke, Peter Straub                      1
Anonymous, Richard Wilhelm, Cary F. Baynes, C.G. Jung                      1
Kevin Stein                                                                1
Bill Finger, Gardner F. Fox, Bob Kane, Jerry Robinson, Sheldon Moldoff     1
Paramahansa Yogananda                                                      1
G.K. Chesterton                                                            1
Elisabeth KÃ¼bler-Ross                                                     1
Gavin Menzies                                                              1
Sigmund Freud, James Strachey, Peter Gay                                   1
Jason F. Wright                                                            1
Elizabeth Kolbert                                                          1
Omar Tyree                                                                 1
Clarissa Pinkola EstÃ©s                                                    1
ØªØ§Ù
Ø± Ø¥Ø¨Ø±Ø§ÙÙÙ
                                                    1
Brother Lawrence                                                           1
Jana Oliver                                                                1
IrÃ¨ne NÃ©mirovsky, Sandra Smith                                           1
Maria Dahvana Headley                                                      1
Per Petterson, Anne Born                                                   1
Chris Guillebeau                                                           1
Washington Irving                                                          1
Phil Robertson, Mark Schlabach                                             1
Julia Heaberlin                                                            1
Neil Gaiman, Yoshitaka Amano                                               1
Daphne du Maurier, Sally Beauman                                           1
Bret Lott                                                                  1
Ralph Ellison                                                              1
Name: Authors, Length: 4664, dtype: int64

In [7]:
earliest_year = renamed_df["Publication Year"].min()
earliest_year

-1750.0

In [8]:
latest_year = renamed_df["Publication Year"].max()
latest_year

2017.0

In [9]:
total_reviews_count = renamed_df[["One Star Reviews", "Two Star Reviews", "Three Star Reviews", "Four Star Reviews",
                                 "Five Star Reviews"]].sum()
total_reviews_count

One Star Reviews       13450406
Two Star Reviews       31108850
Three Star Reviews    114758938
Four Star Reviews     199656966
Five Star Reviews     237898056
dtype: int64