In [20]:
#Dependencies
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
#list of tv show titles to query
tv_shows = ["Altered Carbon", "Grey's Anatomy", "This is Us", "The Flash", "Vikings", "Shameless", "Arrow", "Peaky Blinders", "Dirk Gently"]

url = "http://api.tvmaze.com/search/shows?q="

# make iterative requests to TVmaze search endpoint

names = []
ratings = []

for x in tv_shows:
    url = url + x
    request = requests.get(url)
    request_json = requests.get(url).json()
    names.append(request_json[0]["show"]["name"])
    ratings.append(request_json[0]["show"]["rating"])
    
    url = "http://api.tvmaze.com/search/shows?q="

Altered Carbon

In [24]:
# create dataframe
shows = {"name": names, "ratings": ratings}
shows_df = pd.DataFrame(shows)
shows_df

             name           ratings
0  Altered Carbon  {'average': 8.2}
1  Grey's Anatomy  {'average': 8.4}
2      This Is Us  {'average': 8.2}
3       The Flash  {'average': 7.9}
4         Vikings  {'average': 8.8}
5       Shameless  {'average': 8.8}
6           Arrow  {'average': 7.4}
7  Peaky Blinders  {'average': 8.9}
8     Dirk Gently  {'average': 7.3}

In [4]:
# use matplotlib to create a bar chart from the dataframe