In [11]:
import pandas as pd
import numpy as np

In [12]:
file = 'Resources_donors2008_unclean.csv'

In [13]:
df = pd.read_csv(file, encoding = "ISO-8859-1")

In [14]:
df.head()

  LastName FirstName          Employer      City State    Zip  Amount  FIELD8
0    Aaron    Eugene  State Department    Dulles    VA  20189   500.0     NaN
1    Abadi   Barbara       Abadi & Co.  New York    NY  10021   200.0     NaN
2  Adamany   Anthony           Retired  Rockford    IL  61103   500.0     NaN
3    Adams  Lorraine              Self  New York    NY  10026   200.0     NaN
4    Adams    Marion              None    Exeter    NH   3833   100.0     NaN

In [15]:
del df["FIELD8"]

In [16]:
df.head()

  LastName FirstName          Employer      City State    Zip  Amount
0    Aaron    Eugene  State Department    Dulles    VA  20189   500.0
1    Abadi   Barbara       Abadi & Co.  New York    NY  10021   200.0
2  Adamany   Anthony           Retired  Rockford    IL  61103   500.0
3    Adams  Lorraine              Self  New York    NY  10026   200.0
4    Adams    Marion              None    Exeter    NH   3833   100.0

In [17]:
df.count()

LastName     1776
FirstName    1776
Employer     1743
City         1776
State        1776
Zip          1776
Amount       1776
dtype: int64