In [4]:
import pandas as pd

In [5]:
data_frames = pd.DataFrame({"Frame": ["frame1", "frame2", "frame3", "frame4", "frame5"],
                          "Price": [50, 35, 90, 16, 100],
                          "Sales": [1000, 500, 725, 365, 666]})
data_frames

    Frame  Price  Sales
0  frame1     50   1000
1  frame2     35    500
2  frame3     90    725
3  frame4     16    365
4  frame5    100    666

In [6]:
art_gallery = {"Painting": ["Monalisa", "El grito", "Los girasoles", "La ultima cena"],
              "Price": [1000000, 599000, 50000000, 100000000],
              "Popularity": ["High", "Medium", "High", "Very High"]}
art_frame = pd.DataFrame(art_gallery)

art_frame

         Painting      Price Popularity
0        Monalisa    1000000       High
1        El grito     599000     Medium
2   Los girasoles   50000000       High
3  La ultima cena  100000000  Very High