In [8]:
import pandas as pd

In [10]:
data_series = pd.Series(["Berkley","UCLA","Irvin","AMT","Alabama"])
data_series

0    Berkley
1       UCLA
2      Irvin
3        AMT
4    Alabama
dtype: object

In [13]:
states_dics = [{"State": "New Jersey", "Abreviation": "NJ"},
              {"State": "New York", "Abreviation": "NY"}]
df_States = pd.DataFrame(states_dics)
df_States

  Abreviation       State
0          NJ  New Jersey
1          NY    New York