In [67]:
from sqlalchemy import create_engine
import urllib.parse
import json
import pandas as pd
import matplotlib as plt

In [68]:
#Import db connection parameters from json file
with open('databaseconfig.json') as json_data_file:
         data = json.load(json_data_file)

In [69]:
#Open DB connection
conexion_string = f'postgresql://{data["mysql"]["user"]}:{data["mysql"]["passwd"]}@{data["mysql"]["host"]}/{data["mysql"]["db"]}'

engine = create_engine(conexion_string)
        
#connection = engine.connect()

In [72]:
query = "select tit.title, avg(sal.salary::numeric) "
query += "from titles as tit "
query += "inner join salaries as sal on tit.emp_no = sal.emp_no "
query += "group by tit.title;"

result = connection.execute(query)
print(result)

<sqlalchemy.engine.result.ResultProxy object at 0x00000249F1FE2CC0>

In [73]:
query_df = pd.read_sql_query(query, engine)
query_df.head()

                title           avg
0  Assistant Engineer  48493.204786
1            Engineer  48539.781423
2             Manager  51531.041667
3     Senior Engineer  48506.751806
4        Senior Staff  58503.286614

In [61]:
#for row in result:
#    print("last name is ", row["last_name"])
    
connection.close